// colors

$dark-grey-0: #222425;
$dark-grey-1: #2b2f31;
$grey: #212121;
$dark-grey-2: #4a4d4e;
$dark-grey-3: #1b1919;
$dark-grey-4: #171717;
$light-grey: #757575;
$light-grey-2: #e8e8e8;
$light-grey-3: #d6d6d6;
$light-grey-4: #fdfdfd;
$red: #ff8080;
$black-87: rgba(0, 0, 0, .87);
$black-46: rgba(0, 0, 0, .46);
$white: #FFFFFF;
$highlight: #00d8e6;
$styleguide-font: 'Open Sans', Helvetica, FreeSans, Arial, sans-serif;
$verdana-font: verdana, sans-serif;


