// sass-lint:disable no-important
.fluidStyleguideShow {
    position: fixed;
    top: 55px;
    left: 0;
    right: 0;
    bottom: 16px;

    .fluidStyleguideComponent {
        height: 100%;
        width: 100%;
        border: 0 none;
        transition: width .6s;
    }
}
