.styleguideHeader {
    display: flex;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    background: $dark-grey-0;
    font-family: $styleguide-font;

    .componentNavigation .styleguideSelectSelected {
        position: relative;

        &::before {
            position: absolute;
            content: '›';
            top: 15px;
            width: 0;
            height: 0;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            font-size: 24px;
            right: 24px;
            font-family: $verdana-font;
            color: $highlight;
        }
    }

    .examplesNavigation {
        width: 50%;
        margin-left: -7px;

        svg {
            width: 26px;
            height: 26px;
            margin-left: -24px;
            fill: $highlight;
            display: none;
        }
    }

    .backLink {
        font-size: 13px;
        color: $white;
        position: relative;
        padding-left: 50px;
        text-decoration: none;
        height: 100%;
        display: flex;
        align-items: center;
        border-left: 1px solid $highlight;
        margin-left: 13px;


        &:hover {
            color: $highlight;
        }

        &::before {
            font-family: $verdana-font;
            position: absolute;
            content: '‹';
            top: 16px;
            width: 0;
            height: 0;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            font-size: 24px;
            left: 23px;
            color: $highlight;
        }
    }

    .actions {
        margin: 0 24px 0 auto;
        display: flex;
        align-items: center;
        height: 56px;
    }

}
