.fluidStyleguideShow {
    position: fixed;
    top: 55px;
    left: 0;
    right: 0;
    bottom: 16px;

    &.showAllVariants {
        position: relative;
        inset: unset;

        width: 100%;
        padding-top: 55px;
        margin-bottom: 2rem;
        padding-bottom: 2rem;

        & ~ .showAllVariants {
            padding-top: 0;
            margin-top: 2rem;
            border-top: 2px solid;
        }
    }

    .fluidStyleguideComponent {
        height: 100%;
        width: 100%;
        border: 0 none;
        transition: width .6s;
    }
}
