<fc:component>
    <fc:param name="viewPorts" type="array" />
    <fc:param name="listView" type="boolean" optional="1" default="0"/>

    <fc:renderer>
        <div class="viewportNavigation" {f:if(condition: listView, then: 'data-listview="true"')} data-component="ViewportNavigation">
            <div class="dropdownLabel">
                <f:for each="{viewPorts}" as="item" key="viewItem" iteration="iterator">
                    <f:if condition="{iterator.isFirst}">
                        <li>{viewItem} {item}</li>
                    </f:if>
                </f:for>
            </div>
            <ul class="dropdownContent">
                <f:for each="{viewPorts}" as="item" key="viewItem" iteration="iterator">
                    <li {f:if(condition: iterator.isFirst, then: 'style="display:none"')} class="{f:if(condition: '{viewItem} == Desktop', then: 'active')} viewportItem" data-viewport="{item}">{viewItem} {item}</li>
                </f:for>
            </ul>
        </div>
    </fc:renderer>
</fc:component>
