<fsc:Atom.StyleguideSelect autoSuggest="1">
    <select>
        <f:for each="{navigation}" as="fixture">
            <option data-url="{f:uri.action(
                pageType: 1562933206,
                arguments: {
                    fixture: fixture.name,
                    component: activeComponent.name.identifier
                },
                action: 'show'
            )}" {f:if(condition: '{fixture.name} == {activeFixture}', then: 'selected')}>
                {fixture.name}
            </option>
        </f:for>
    </select>
</fsc:Atom.StyleguideSelect>
