<!DOCTYPE html>
<html lang="{styleguideLanguage.hreflang}"{f:if(condition: styleguideLanguage.direction, then: ' dir="{styleguideLanguage.direction}"')}>
<head>
    <meta charset="utf-8" />

    <title>{component.name.displayName}</title>

    <base href="{baseUri}" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="compatible" content="IE=edge" />
    <meta name="robots" content="noindex,nofollow" />

    <style>{styleguideConfiguration.brandingCss -> f:format.raw()}</style>
    <f:for each="{styleguideConfiguration.globalCss}" as="cssFile">
        <link rel="stylesheet" href="{f:if(condition: cssFile.file, then: cssFile.file, else: cssFile)}" />
    </f:for>
    <f:for each="{componentCss}" as="cssFile">
        <link rel="stylesheet" href="{f:if(condition: cssFile.file, then: cssFile.file, else: cssFile)}" />
    </f:for>
    <f:for each="{styleguideConfiguration.globalJavascript}" as="javascriptFile">
        <f:if condition="{javascriptFile.position} == 'head'">
            <script src="{f:if(condition: javascriptFile.file, then: javascriptFile.file, else: javascriptFile)}" {f:if(condition: javascriptFile.type, then: 'type=\"{javascriptFile.type}\" ')}></script>
        </f:if>
    </f:for>
    <f:for each="{componentJavascript}" as="javascriptFile">
        <f:if condition="{javascriptFile.position} == 'head'">
            <script src="{f:if(condition: javascriptFile.file, then: javascriptFile.file, else: javascriptFile)}" {f:if(condition: javascriptFile.type, then: 'type=\"{javascriptFile.type}\" ')}></script>
        </f:if>
    </f:for>
    <!-- ###ADDITIONAL_HEADER_DATA### -->
</head>
<body>

<f:if condition="{styleguideConfiguration.Features.Ruler}">
    <f:then>
        <f:render partial="Ruler" />
        <div id="fluidStyleguideRulerComponentWrap">
            <f:render section="Component" />
        </div>
    </f:then>
    <f:else>
        <f:render section="Component" />
    </f:else>
</f:if>

<div data-iframe-height="1"></div>

<f:for each="{styleguideConfiguration.globalJavascript}" as="javascriptFile">
    <f:if condition="{javascriptFile.position} != 'head'">
        <script src="{f:if(condition: javascriptFile.file, then: javascriptFile.file, else: javascriptFile)}" {f:if(condition: javascriptFile.type, then: 'type=\"{javascriptFile.type}\" ')}></script>
    </f:if>
</f:for>
<f:for each="{componentJavascript}" as="javascriptFile">
    <f:if condition="{javascriptFile.position} != 'head'">
        <script src="{f:if(condition: javascriptFile.file, then: javascriptFile.file, else: javascriptFile)}" {f:if(condition: javascriptFile.type, then: 'type=\"{javascriptFile.type}\" ')}></script>
    </f:if>
</f:for>
<!-- ###ADDITIONAL_FOOTER_DATA### -->

</body>
</html>
