// sass-lint:disable no-important
.styleguideToolbar {
    position: fixed;
    width: 100%;
    color: $white;
    font-size: 13px;
    z-index: 3;
    font-family: $styleguide-font;
    transition: bottom .25s ease 0s;
    background-color: $dark-grey-0;

    .toolbarTop {
        height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .toolbarBot {
        position: relative;
    }

    .toolbarOpener {
        cursor: pointer;
        position: relative;
        top: 0;
        border-radius: 10%;
        width: 50px;
        height: 54px;
        z-index: -2;
        background: $dark-grey-0;

        &::before {
            font-family: $verdana-font;
            content: '›';
            width: 0;
            height: 0;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            font-size: 24px;
            color: $highlight;
            left: 12px;
            top: 19px;
            transform: rotate(-90deg);
            position: absolute;
        }

        &:hover {
            color: $highlight;
        }
    }

    .toolbarRuler {
        cursor: pointer;

        svg {
            margin-left: 15px;
            position: relative;
            top: -3px;
        }

        &:hover {
            color: $highlight;
        }
    }

    &.open {
        bottom: 0 !important;

        .toolbarOpener {
            &::before {
                left: 38px;
                top: 8px;
                transform: rotate(90deg);
            }
        }

        .toolbarTabs {
            display: block;
        }

        .toolbarBot {
            top: -16px;
        }
    }

    .toolbarTabs {
        position: relative;

        .tabNav {
            display: flex;

            .tabOpener {
                height: 54px;
                background: $dark-grey-1;
                cursor: pointer;
                width: 140px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $white;
                border-right: 2px solid $dark-grey-0;
                transition: background-color .25s ease;
                position: relative;
                overflow: hidden;

                svg {
                    width: 28px;
                    height: 28px;
                    fill: $white;
                }

                &.active {
                    background: $dark-grey-0;
                    color: $highlight;

                    svg {
                        fill: $highlight;
                    }
                }

                &.betaSign {

                    &::after {
                        content: 'Beta';
                        position: absolute;
                        transform: rotate(42deg);
                        right: -33px;
                        top: -16px;
                        font-size: 10px;
                        background: $red;
                        padding: 1px;
                        color: $white;
                        width: 48px;
                        padding-left: 100px;
                    }
                }

                &:hover {
                    svg {
                        fill: $highlight;
                    }
                }
            }
        }

        .tabContent {
            display: none;
            padding: 32px 32px 16px;
            font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
            font-size: 1em;
            color: $white;
            max-height: 200px;
            overflow-y: scroll;

            > :first-child {
                margin-top: 0;
            }

            &::-webkit-scrollbar {
                width: 8px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $highlight;
            }

            &.active {
                display: block;
            }

            .downloadZip {
                color: $white;
                text-decoration: underline;

                &:hover {
                    color: $highlight;
                }
            }
        }

    }

    .componentArguments {
        border-spacing: 0;
        width: 100%;

        th,
        td {
            padding: 12px 8px;
            border-bottom: 1px $white solid;
        }

        th {
            text-align: left;
            font-weight: bold;
        }

        .componentArgumentsName {
            font-weight: bold;
        }

        .componentArgumentsRequired {
            text-align: center;
        }
    }

}
