{namespace fsc=Sitegeist\FluidStyleguide\Components}
{namespace fsv=Sitegeist\FluidStyleguide\ViewHelpers}

<fc:component>
    <fc:param name="componentData" type="Sitegeist\FluidStyleguide\Domain\Model\Component" />
    <fc:param name="zipDownloadUri" type="string" />
    <fc:param name="iframeUri" type="string" />
    <fc:param name="activeFixture" type="string" />
    <fc:param name="showDocumentation" type="bool" optional="1" default="1" />
    <fc:param name="showZipDownload" type="bool" optional="1" default="1" />
    <fc:param name="showEditor" type="bool" optional="1" default="1" />

    <fc:renderer>
        <div class="styleguideToolbar {class}" data-component="StyleguideToolbar">

            <div class="toolbarTop">
                <div class="toolbarOpener">
                </div>
            </div>

            <div class="toolbarBot">
                <div class="toolbarTabs">

                    <div class="tabNav">
                        <f:if condition="{componentData.arguments} || ({showDocumentation} && {componentData.documentation})">
                            <div class="tabOpener active">
                                DOC
                            </div>
                        </f:if>
                        <div class="tabOpener">
                            FLUID
                        </div>
                        <div class="tabOpener">
                            HTML
                        </div>
                        <f:if condition="{showZipDownload}">
                            <div class="tabOpener">
                                ZIP
                            </div>
                        </f:if>
                        <f:if condition="{showEditor} && {componentData.arguments -> f:count()} > 2">
                            <div class="tabOpener betaSign">
                                EDIT
                            </div>
                        </f:if>
                    </div>

                    <div class="tabContents">
                        <f:if condition="{componentData.arguments} || ({showDocumentation} && {componentData.documentation})">
                            <div class="tabContent active">
                                <h1>{componentData.name.displayName}</h1>
                                <f:if condition="{componentData.arguments}">
                                    <div class="boxMargin">
                                        <h2>API definition</h2>
                                        <table class="componentArguments">
                                            <tr>
                                                <th>Name</th>
                                                <th>Type</th>
                                                <th class="componentArgumentsRequired">Required</th>
                                                <f:comment><th>Default</th></f:comment>
                                                <th>Description</th>
                                            </tr>
                                            <f:for each="{componentData.arguments}" as="argument">
                                                <f:if condition="{argument.name} != 'content'">
                                                    <tr>
                                                        <td class="componentArgumentsName">{argument.name}</td>
                                                        <td>{argument.type}</td>
                                                        <td class="componentArgumentsRequired">{f:if(condition: argument.required, then: '✔︎')}</td>
                                                        <f:comment>TODO implement this with fluid_components v2</f:comment>
                                                        <f:comment><td>{argument.defaultValue}</td></f:comment>
                                                        <td>{argument.description}</td>
                                                    </tr>
                                                </f:if>
                                            </f:for>
                                        </table>
                                    </div>
                                </f:if>

                                <f:if condition="{showDocumentation}">
                                    <fsv:format.markdown>{componentData.documentation}</fsv:format.markdown>
                                </f:if>
                            </div>
                        </f:if>

                        <div class="tabContent">
                            <pre><f:format.htmlspecialchars><fsv:component.example component="{componentData}" fixtureName="{activeFixture}" /></f:format.htmlspecialchars></pre>
                        </div>

                        <div class="tabContent">
                            <f:format.htmlspecialchars>
                                <fsv:component.example
                                    component="{componentData}"
                                    fixtureName="{activeFixture}"
                                    execute="1"
                                />
                            </f:format.htmlspecialchars>
                        </div>

                        <f:if condition="{showZipDownload}">
                            <div class="tabContent">
                                <a href="{zipDownloadUri}" class="downloadZip">
                                    <span>Download this component as ZIP archive</span>
                                </a>
                            </div>
                        </f:if>

                        <f:if condition="{showEditor} && {componentData.arguments -> f:count()} > 2">
                            <div class="tabContent">
                                <fsc:molecule.editFixtures iframeUri="{iframeUri}" activeFixture="{componentData.fixtures.{activeFixture}.data}" api="{componentData.arguments}" />
                            </div>
                        </f:if>
                    </div>
                </div>
            </div>
        </div>
    </fc:renderer>
</fc:component>
