body {
    background-color: #fff !important;
}

#fluidStyleguideRuler {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
}

#fluidStyleguideComponent {
    margin: 24px;
    position: relative;
    z-index: 2;
}
