body {
    background-color: var(--styleguide-iframe-background) !important;
}

#fluidStyleguideRuler {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
}

#fluidStyleguideRulerComponentWrap {
    position: relative;
    z-index: 2;
}

.fluidStyleguideComponentSpacing {
    padding: 24px;
}
