<fc:component>
    <fc:param name="logo" type="string" optional="1" />
    <fc:param name="headerBackground" type="string" optional="1" />
    <fc:param name="brandingHeadline" type="string" optional="1" />
    <fc:param name="link" type="SMS\FluidComponents\Domain\Model\Typolink" />
    <fc:param name="linkLabel" type="string" />


    <fc:renderer>
        <div class="brandedHeader" {f:if(condition: '{headerBackground}', then: 'style=\'background-color: {headerBackground}\'')}>
            <div class="brandedHeaderInner">
                <img class="brandedHeaderLogo" src="{logo}">
                <f:if condition="{brandingHeadline}"><h2>{brandingHeadline}</h2></f:if>
                <f:if condition="{link}">
                    <a href="{link}" target="_blank" title="{linkLabel}">{linkLabel}</a>
                </f:if>
            </div>
        </div>
    </fc:renderer>
</fc:component>
